/* */
.navbar {
    overflow: hidden;
    background-color: #007055;
    font-family: 'Courier New', Courier, monospace;
}


.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-nav {
    overflow: hidden;
    float: left;
}

.profile-nav {
	overflow: hidden;
	float: right
	}

.dropbutton {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    border: 0px;
}

.navbar a:hover,
.dropdown-nav:hover .dropbutton,
.profile-nav:hover{
    background-color: #019270;
}

.dropdown-info {
    display: none;
    position: absolute;
    background-color: #a5a5a5;
    padding: 5px;
    min-width: 40px;
}

.dropdown-info a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-info a:hover {
    background-color: #ddd;
}


.dropdown-nav:hover .dropdown-info,
.profile-nav:hover .dropdown-info{
    display: block;
}
