<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Topic</title>
</head>
<body>
    <p>You have chosen the topic: <strong th:text="${topic}"></strong>. Is this correct? (Upon confirming, please wait for the exam to load) </p>
    <button id="confirmButton">Yes, proceed</button>

    <script type="text/javascript">
        document.getElementById('confirmButton').addEventListener('click', function() {
            window.location.href = '/bot/quiz';
        });
    </script>
</body>
</html>
