
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Instructor</title>
</head>
<body>

<div class="container">
    <h2>Edit Instructor</h2>

    <form action="#" th:action="@{/schedule-manager/instructor/edit}" method="post">
        <div class="form-group">
            <label for="selectInstructor">Select Instructor:</label>
            <select id="selectInstructor" name="instructorId" onchange="this.form.submit()">
                <option value="" selected disabled>Choose an instructor</option>
                <option th:each="instructor : ${instructors}" 
                        th:value="${instructor.instructorId}" 
                        th:text="${instructor.instructorFirstName} + ' ' + ${instructor.instructorLastName}"></option>
            </select>
        </div>
        
        
        <h2>Delete Instructor</h2>
    <form action="#" th:action="@{/schedule-manager/instructor/delete}" method="post">
        <div class="form-group">
            <label for="selectInstructorDelete">Select Instructor to Delete:</label>
            <select id="selectInstructorDelete" name="instructorId" required>
                <option value="" selected disabled>Choose an instructor</option>
                <option th:each="instructor : ${instructors}" 
                        th:value="${instructor.instructorId}" 
                        th:text="${instructor.instructorFirstName} + ' ' + ${instructor.instructorLastName}"></option>
            </select>
        </div>
        <button type="submit">Delete Instructor</button>
    </form>


        <div class="form-group">
            <label for="firstName">First Name:</label>
			<input type="text" id="firstName" name="instructorFirstName" th:value="${selectedInstructor?.instructorFirstName}" required>
        </div>
        
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="instructorLastName" th:value="${selectedInstructor?.instructorLastName}" required>
        </div>
        
         <div class="form-group">
            <label for="lastName">Email:</label>
            <input type="text" id="email" name="instructorEmail" th:value="${selectedInstructor?.instructorEmail}" required>
        </div>
        
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="instructorUsername" th:value="${selectedInstructor?.instructorUsername}" required>
        </div>
        
        <div class="form-group">
            <label for="lastName">New Password:</label>
            <input type="text" id="password" name="instructorPassword" th:value="${selectedInstructor?.instructorPassword}" required>
        </div>
        

        <button type="submit">Update Instructor</button>
    </form>
    
    <!-- Optionally, include a delete button if needed -->
    <form action="#" th:action="@{/schedule-manager/instructor/delete/{instructorId}}" method="post">
        <button type="submit">Delete Instructor</button>
    </form>

</div>

</body>
</html>
