<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Exam Questions</title>
</head>
<body>
    <h1>List of Exam Questions</h1>
    <table>
        <tr>
            <th>Question Text</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="examQuestion : ${examQuestions}">
            <td th:text="${examQuestion.questionText}"></td>
            <td><a th:href="@{/instructor/exam-questions/edit/{id}(id=${examQuestion.id})}">Edit</a></td>
            <td><a th:href="@{/instructor/exam-questions/delete/{id}(id=${examQuestion.id})}">Delete</a></td>
        </tr>
    </table>
    <a href="/instructor/exam-questions/new">Add New Exam Question</a>
</body>
</html>
