<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
</head>


    <body>
        <!-- this div sets up a class called navbar that holds all the buttons --> 
        <div class="navbar">
             <!-- management button -->  
            <div class="dropdown-nav">
                <button class="dropbutton">Management
                </button>
                <div class="dropdown-info">
                    <a href="#">Accounts</a>
                    <a href="/register">Create Account</a>
                    <a href="#">Classes</a>
                    <a href="#">Chapters</a>
                    <a href="#">Exams</a>
                    
                </div>

<body>
    <!-- This div sets up a class called navbar that holds all the buttons -->
    <div class="navbar">
        <!-- Management button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Management</button>
            <div class="dropdown-info">
                <a href="#">Accounts</a>
                <a href="/register">Create Account</a>
                <a href="/classes">Classes</a>
                <a href="#">Chapters</a>
                <a href="/exams">Exams</a>
                <a href="#">Change Password</a>

            </div>
        </div>
        <!-- Computer Literacy button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Computer Literacy</button>
            <div class="dropdown-info">
                <a href="#">Exam Generator</a>
            </div>
        </div>
        <!-- Grading button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Grading</button>
            <div class="dropdown-info">
                <a href="#">Exam Grading</a>
            </div>
        </div>
        <!-- Reporting -->
        <div class="dropdown-nav">
            <button class="dropbutton">Reporting</button>
            <div class="dropdown-info">
                <a href="#">Exam Information</a>
                <a href="#">IP Address</a>
            </div>
        </div>
        <!-- Database button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Database</button>
            <div class="dropdown-info">
                <a href="/students">View All Students</a>
                <a href="/create">Add Students</a>
                <a href="/export/students">Export To Excel</a>
                <a href="/import">Import with Excel</a>
                
                
            </div>
        </div>
        <!-- Search Options -->
        <div class="dropdown-nav">
            <button class="dropbutton">Search Options</button>
            <div class="dropdown-info">
                <a href="#">View Details</a>
            </div>
            <div class = profile-nav>
                <!-- search options --> 
                <button class="dropbutton">Account
                </button>
                <div class="dropdown-info">
                    <a href="#">Change Password</a>
                    <a href="/exit">Logout</a>
                </div>
            </div>

    </div>

    <!-- This iframe references the side panel view to include it into the main screen view -->
    <iframe src="/sidebar" frameborder="0"></iframe>
</body>
</html>
