<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter Selection</title>
</head>
<body>
    <h1>Select an Option:</h1>
    <ul>
        <li><a href="/generateExam">Chapter 1</a></li>
        <li><a href="chapter2.html">Chapter 2</a></li>
        <li><a href="chapter3.html">Chapter 3</a></li>
        <li><a href="chapter4.html">Chapter 4</a></li>
        <li><a href="midterm.html">Mid-Term Exam</a></li>
        <li><a href="finalexam.html">Final Exam</a></li>
    </ul>
</body>
</html>
