<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter Selection</title>
</head>
<body>
    <h1>Select an Option:</h1>
    <ul>
        <li><a href="/pickExam/1">Chapter 1</a></li>
        <li><a href="/pickExam/2">Chapter 2</a></li>
        <li><a href="/pickExam/3">Chapter 3</a></li>
        <li><a href="/pickExam/4">Chapter 4</a></li>
        <li><a href="/pickExam/5">Mid-Term Exam</a></li>
        <li><a href="/pickExam/6">Final Exam</a></li>
    </ul>
</body>
</html>
