<!-- register.html -->

<!DOCTYPE html>
<!-- Brent Kosior -->
<!-- CPSC 488 -->
<!-- ID: A01340397 -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Information Form</title>
</head>

<body>
    <h1>User Registration Form</h1>
    <form action="/register" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" placeholder="First Name" th:field="${user.firstName}" required><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" placeholder="Last Name" th:field="${user.lastName}" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" th:field="${user.email}" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" th:field="${user.password}" required><br><br>

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" th:field="${user.username}" required><br><br>



        <input type="submit" value="Finish">
    </form>
</body>

</html>
