<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    
</head>

<body>
    <!-- This div sets up a class called navbar that holds all the buttons. -->
    <div class="navbar">
    <!-- Home button -->
        <div class="dropdown-nav">
            <a th:href="@{/schedule-manager/schedule_manager_homepage}" class="dropbutton">
            <i class="fas fa-home"></i> 
        </a>
        </div>
        <!-- Management button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Management</button>
            <div class="dropdown-info">
                <a href="/schedule-manager/page">Schedule Manager</a>
                <a href="/schedule-manager/smv-class-import">Load a Class</a>

            </div>
        </div>
        
        <!-- Database button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Database</button>
            <div class="dropdown-info">
                <a href="/schedule-manager/list-students">View All Students</a>
                <a href="/schedule-manager/all-sm">View All Schedule Managers</a>
                <a href="/schedule-manager/create-students">Add Students</a>
                <a href="/schedule-manager/create-instructors">Add Instructors</a>
                <a href="/schedule-manager/add-courseSM">Add Courses</a>
                <a href="/schedule-manager/associateSM">Assign Students</a>
                <a href="/schedule-manager/associate-instructorSM">Assign Instructors</a>
                <a href="/schedule-manager/exportStudentSMV">Export To Excel</a>
                <a href="/schedule-manager/uploadExcelSMV">Import with Excel</a>
                <a href="#">View all Administrators</a>
            </div>
        </div>
        
        <!-- Search Options -->
        <div class="dropdown-nav">
            <button class="dropbutton">Search Options</button>
            <div class="dropdown-info">
                <a href="sidepanel.html">View Details</a>
            </div>
        </div>

        <div class="profile-nav">
            <!-- Account --> 
            <button class="dropbutton">Account</button>
            <div class="dropdown-info">
                <a href="#">Change Password</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
