<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Associate Instructor with Course</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
</head>

<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("/schedule-manager/schedule_manager_homepage");
});
</script>

<br>
<br>
<br>

<body>
    <h2>Associate Instructor with Course</h2>
    
    <form id="associateInstructorWithCourseFormSMV" action="/schedule-manager/associate-instructorSM" method="POST">
        <label for="instructorId">Select an Instructor:</label>
        <select id="instructorId" name="instructorId" required>
            <option value="">Please select an instructor</option>
            <option th:each="instructor : ${instructors}" th:value="${instructor.instructorId}" th:text="${instructor.instructorFirstName + ' ' + instructor.instructorLastName}"></option>
        </select>

        <br><br>

        <label for="courseId">Select a Course:</label>
        <select id="courseId" name="courseId" required>
            <option value="">Please Select Course via ID</option>
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}"></option>
        </select>

        <br><br>

        <input type="submit" value="Associate Instructor with Course">
    </form>
    
       <script>
        document.getElementById('associateInstructorWithCourseFormSMV').onsubmit = function(event) {
            var instructorId = document.getElementById('instructorId').value;
            var courseId = document.getElementById('courseId').value;

            if(instructorId === '' || courseId === '') {
                event.preventDefault(); // Prevent form submission
                alert('Please select both an instructor and a course.');
            }
        };
    </script>

</body>
</html>
