<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
    <!-- This div sets up a class called navbar that holds all the buttons. -->
    <div class="navbar">
        <!-- Account Management button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Account Management</button>
            <div class="dropdown-info">
                <a href="#">Change Password</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <!-- Classes button -->
        <div class="dropdown-nav">
            <button class="dropbutton">Classes</button>
            <div class="dropdown-info">
                <a href="#">Class Info (dynamic)</a>
            </div>
        </div>

        <!-- Search Options -->
        <div class="dropdown-nav">
            <button class="dropbutton">Search Options</button>
            <div class="dropdown-info">
                <a href="sidebar.html">Search</a>
            </div>
        </div>
    </div>
</body>
</html>

