<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Take Exam - [[${exam.examName}]]</title>
</head>
<body>
    <h1>[[${exam.examName}]]</h1>
    <form th:action="@{/exam/submit/{id}(id=${exam.id})}" method="post">
        <div th:each="question : ${exam.questions}">
            <h2 th:text="${question.questionText}">Question Text</h2>
            <div>
                <label><input type="radio" th:name="'answer_' + ${question.id}" th:value="A" /> A. [[${question.optionA}]]</label>
                <label><input type="radio" th:name="'answer_' + ${question.id}" th:value="B" /> B. [[${question.optionB}]]</label>
                <label><input type="radio" th:name="'answer_' + ${question.id}" th:value="C" /> C. [[${question.optionC}]]</label>
                <label><input type="radio" th:name="'answer_' + ${question.id}" th:value="D" /> D. [[${question.optionD}]]</label>
            </div>
        </div>
        <input type="hidden" name="questionIds" th:value="${#strings.listJoin(exam.questions.![id], ',')}" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
